<div class="flex flex-wrap text-white uppercase tracking-widest">
  <div class="w-full lg:w-1/3 py-4 lg:px-4">
    <a href="<%= sell_catalog_path %>" class="flex items-center w-full h-full p-12 rounded-lg mb-4 bg-orange-600 hover:text-white hover:bg-orange-500 hover:no-underline">
      <span class="text-6xl mr-2"><%= @sell_listings_count %></span>
      <div class="text-xl font-bold">cartas en venta</div>
    </a>
  </div>

  <div class="w-full lg:w-1/3 py-4 lg:px-4">
    <a href="<%= buy_catalog_path %>" class="flex items-center w-full h-full p-12 rounded-lg mb-4 bg-orange-400 hover:text-white hover:bg-orange-300 hover:no-underline">
      <span class="text-6xl mr-2"><%= @buy_listings_count %></span>
      <div class="text-xl font-bold">cartas buscadas</div>
    </a>
  </div>

  <div class="flex justify-end items-center w-full lg:w-1/3 py-4 lg:px-4">
    <div class="text-gray-600 mr-1">Apoya:</div>
    <a href="https://www.facebook.com/Dragonstonefoodygames/" target="_blank">
      <%= image_tag('dragonstone.jpg', class: 'w-24' )%>
    </a>
  </div>
</div>

<div class="py-20 rounded-lg mb-4 lg:mx-4" style="background: linear-gradient(90deg, #DD6B20 0%, #F6AD55 100%)">
  <div class="container mx-auto px-12">
    <h2 class="text-4xl font-bold mb-2 text-white">
      Comprá y vendé cartas a TCG Market Price.
    </h2>
    <h3 class="text-lg mb-8 text-gray-200 mb-12">
      Como en el primer mundo, pero en Uruguay, wacho
    </h3>

    <% unless current_user %>
      <a href="register" class="text-orange-600 hover:text-orange-400 bg-white font-bold py-4 px-8 shadow-lg uppercase tracking-wider border-b-4 border-orange-400">
        Registrame ya
      </a>
    <% end %>
  </div>
</div>

<div class="text-3xl text-gray-600 w-full lg:mx-4 text-center">
  y... ¿Por qué TCG Market Price?
</div>

<div class="lg:flex">
  <div class="w-full lg:w-1/3 py-4 lg:px-4">
    <div class="p-8 rounded-lg w-full bg-orange-600 text-white h-48 text-lg">
      Es el precio al que están cambiando de manos las cartas en USA, no el precio al que una tienda está publicando según su stock.
    </div>
  </div>

  <div class="w-full lg:w-1/3 py-4 lg:px-4">
    <div class="p-8 rounded-lg w-full bg-orange-500 text-white h-48 text-lg">
      Es el precio al que fácilmente te podés pedir las cartas de afuera, así que te va a salir más barato comprar local porque no pagás envío.
    </div>
  </div>

  <div class="w-full lg:w-1/3 py-4 lg:px-4">
    <div class="p-8 rounded-lg w-full bg-orange-400 text-white h-48 text-lg">
      Usando ese precio los compradores compran local porque pueden tener las cartas más rápido.
    </div>
  </div>
</div>