<!DOCTYPE html>
<html>
  <head>
	  <title><%= content_for?(:title) ? yield(:title) + " - #{APPLICATION_NAME}" : "#{APPLICATION_NAME}" %></title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	  <%= csrf_meta_tags %>

		<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
		<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
  </head>

  <body>
	  <nav class="navbar bg-orange-300 shadow">
		  <div class="container-fluid">
			  <div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed"
				          data-toggle="collapse" data-target="#menu-collapse">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar bg-orange-700"></span>
					  <span class="icon-bar bg-orange-700"></span>
					  <span class="icon-bar bg-orange-700"></span>
				  </button>
				  <%= link_to 'MTGBarato.store', root_path, class: 'navbar-brand font-bold text-orange-700 hover:text-orange-500' %>
			  </div>

			  <div class="collapse navbar-collapse" id="menu-collapse">

				  <%= render 'layouts/navigation' %>

			  </div>
		  </div>
	  </nav>

	  <div class="container">
		  <%= render 'layouts/notifications' %>

      <%= yield %>
	  </div>

	  <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
		<script src="https://deckbox.org/assets/external/tooltip.js"></script>
		<script>
			// price filters
			jQuery.fn.dataTableExt.afnFiltering.push(
				function( oSettings, aData, iDataIndex ) {
					var iColumn = 4; //hidden raw price column
					var iMin = document.getElementById('minPrice').value * 1;
					var iMax = document.getElementById('maxPrice').value * 1;

					var iVersion = aData[iColumn] == "-" ? 0 : aData[iColumn]*1;
					if ( iMin === "" && iMax === "" )
					{
						return true;
					}
					else if ( iMin === "" && iVersion < iMax )
					{
						return true;
					}
					else if ( iMin < iVersion && "" === iMax )
					{
						return true;
					}
					else if ( iMin < iVersion && iVersion < iMax )
					{
						return true;
					}
					return false;
				}
			);
		</script> 
		<script>
			$(document).ready( function () {
					var table = $('.js-datatable').DataTable( {
						autoWidth: false,
						order: [[ 2, "desc" ]],
						language: {
							url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
						},
						columnDefs: [
							{ "targets": [ 0 ], "sortable": false, "searchable": false },
							{ "targets": [ 3 ], "sortable": false, "searchable": true },
							{ "targets": [ 4 ], "visible": false },
							{ "targets": [ 5 ], "visible": false }
						]
					});
					$('#minPrice').keyup( function() { table.draw(); } );
					$('#maxPrice').keyup( function() { table.draw(); } );
			} );
		</script>
  </body>
</html>
